<div class="container">
  <br>
  <h1 class="text-center">Editar Post</h1>
  <br>
  <form [formGroup]="postForm" class="form-group">
    titulo: <input formControlName="title" class="form-control" placeholder="titulo do post">
    <br>
    texto: <textarea rows="3" formControlName="text" class="form-control" placeholder="texto do post"></textarea>
    <br>
    <select class="form-control" formControlName="category_id">
      <option *ngFor="let category of categories" [ngValue]="category.id">
        {{ category.name }}
      </option>
    </select>
    <br>
    <button type="submit" class="btn btn-success" (click)="editPost()">Submit</button>
  </form>
</div>

