.item-list{
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.item-list img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.item-list .item-name{
    width: 200px;
}

.item-list .item-description{
    width: 400px;
}

.item-list .icons{
    width: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-icon{
    cursor: pointer;
}