<div class="container">
  <div class="row justify-content-center title-row">
    <h1>{{ category.name }}</h1>
  </div>
  <div class="row justify-content-center subtitle-row">
    <span>{{ category.description }}</span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-12 col-12 pb-4">
        <h2>Posts</h2>
        <ul class="list-group">
          <div *ngFor="let post of posts">
            <li class="list-group-item" style="width: 100%">
              <div class="row">
                <div class="comment mt-4 text-justify float-left" >
                  <h4>{{post.title}}</h4> <span>- {{post.created_at | date: 'dd/MM/yyyy'}}</span> <br>
                  <p class="word-wrap">{{post.text}}</p>
                </div>
              </div>
            </li>
            <br>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
