.title-row {
  padding-top: 5%;
}

.subtitle-row {
  padding-bottom: 5%;
}

.word-wrap{
  border: 2px solid gray;
  border-radius: 2%;
  padding: 1em;
  font-size: calc(0.6vw + 0.6em);
  direction: ltr;
  margin:auto;
  text-align:justify;
  word-break: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.al {
  display: inline-block;
}
