<div class="page">
    <h3>Dashboard</h3>
    <div class="content">
        <div class="row">
            <div class="filter">
                <label for="standard-select">Categoria</label>
                <div class="select">
                    <select id="standard-select">
                        <option value="Option 1">Option 1</option>
                        <option value="Option 2">Option 2</option>
                        <option value="Option 3">Option 3</option>
                        <option value="Option 4">Option 4</option>
                        <option value="Option 5">Option 5</option>
                        <option value="Option length">Option that has too long of a value to fit</option>
                    </select>
                </div>
            </div>
            <div class="filter">
                <label for="date">Data</label>
                <div class="input-date">
                    <input id="datetime-input" type="datetime-local">
                </div>
            </div>
        </div>
    </div>
</div>