.card {
    margin-top: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
}

.image{
    width: 100%;
}

.card .container {
    padding: 1px 8px;
    height: 180px;
}

.card .container .details{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card .container .abstract{
    margin-top: 12px;
    font-size: 12px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #00000033;
}
